flows_DESKTOP-ELTL38L.json
[{"id":"1359264.c0b7d5a","type":"tab","label":"Sheet 1"},{"id":"444c9e8d.056308","type":"subflow","name":"Loop10s","info":"","in":[{"x":230,"y":44,"wires":[{"id":"62ac1300.241094"}]}],"out":[{"x":620,"y":46,"wires":[{"id":"62ac1300.241094","port":0}]}]},{"id":"90cda2bf.b18618","type":"subflow","name":"Loop60s","info":"","in":[{"x":253.33332061767578,"y":58.33333396911621,"wires":[{"id":"a8f2c543.34c0e8"}]}],"out":[{"x":589.9999389648438,"y":48.33333206176758,"wires":[{"id":"a8f2c543.34c0e8","port":0}]}]},{"id":"9c73e65c.8c8a98","type":"subflow","name":"Loop3s","info":"","in":[{"x":260,"y":70,"wires":[{"id":"55fd1e59.be95a"}]}],"out":[{"x":543,"y":50,"wires":[{"id":"55fd1e59.be95a","port":0}]}]},{"id":"d98ba70.27c5458","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}}},"site":{"name":"Automated Garden User Interface","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"1/8/2018","sizes":{"sx":54,"sy":54,"gx":10,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6cd192c.1f8606c","type":"ui_group","z":"","name":"ĐỒ THỊ NHIỆT ĐỘ GIỜ","tab":"28c58673.cb260a","order":10,"disp":false,"width":"12","collapse":false},{"id":"ed3e1c64.0a5678","type":"users_config","appPath":"/users","jwtCookieName":"nr.nodeUsers.jwt","jwtHttpsOnly":false},{"id":"ebcb02b4.0f9af","type":"websocket-listener","z":"","path":"/ui","wholemsg":"false"},{"id":"50cc18ad.213548","type":"ui_tab","z":"1359264.c0b7d5a","name":"GIAO DIỆN CHÍNH","icon":"dashboard","order":"1"},{"id":"25dc5485.8716ac","type":"mqtt-broker","z":"","name":"","broker":"m15.cloudmqtt.com","port":"14183","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"826bcb90.726cf8","type":"ui_group","z":"","name":"ĐỘ ẨM ĐẤT VÀ KHÔNG KHÍ","tab":"50cc18ad.213548","order":4,"disp":true,"width":"6","collapse":true},{"id":"b2bd8f0a.65b77","type":"ui_group","z":"","name":"NHIỆT ĐỘ VÀ CƯỜNG ĐỘ ÁNH SÁNG","tab":"50cc18ad.213548","order":3,"disp":true,"width":"6","collapse":true},{"id":"76184d7.10dcb34","type":"ui_group","z":"","name":"ĐIỀU KHIỂN NHANH VÀ TRẠNG THÁI","tab":"50cc18ad.213548","order":1,"disp":true,"width":"6","collapse":false},{"id":"a480ae96.a7753","type":"ui_group","z":"","name":"Bộ xử lý hẹn giờ 1","tab":"f3b535a2.f46be","order":1,"disp":false,"width":"6","collapse":false},{"id":"9b1c1667.19b13","type":"ui_group","z":"","name":"Zone Status","tab":"f3b535a2.f46be","order":5,"disp":true,"width":"6"},{"id":"f3b535a2.f46be","type":"ui_tab","z":"","name":"BỘ XỬ LÝ HẸN GIỜ","icon":"call_split","order":2},{"id":"f413ded4.c225d","type":"mui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#097479","value":"#097479","edited":false},"m-page-titlebar-backgroundColor":{"value":"#097479","edited":false},"m-page-backgroundColor":{"value":"#111111","edited":false},"m-page-sidebar-backgroundColor":{"value":"#000000","edited":false},"m-group-textColor":{"value":"#0eb8c0","edited":false},"m-group-borderColor":{"value":"#555555","edited":false},"m-group-backgroundColor":{"value":"#333333","edited":false},"m-widget-textColor":{"value":"#eeeeee","edited":false},"m-widget-backgroundColor":{"value":"#097479","edited":false},"m-widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"28c58673.cb260a","type":"ui_tab","z":"","name":"ĐỒ THỊ","icon":"dashboard","order":4},{"id":"b04fdcbb.f15498","type":"ui_group","z":"","name":"ĐẶT TÊN CHO RELAY","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"296d7e88.0753c2","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a312f85c.b90c98","type":"ui_group","z":"","name":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 NGÀY","tab":"28c58673.cb260a","order":2,"disp":false,"width":"12","collapse":false},{"id":"ed519627.c72218","type":"ui_group","z":"","name":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 TUẦN","tab":"28c58673.cb260a","order":3,"disp":false,"width":"12","collapse":false},{"id":"3ebc2698.3ef9c2","type":"ui_group","z":"","name":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 GIỜ","tab":"28c58673.cb260a","order":1,"disp":false,"width":"12","collapse":false},{"id":"ca133c17.8ed098","type":"ui_group","z":"","name":"ĐỘ ẨM KHÔNG KHÍ TUẦN","tab":"28c58673.cb260a","order":6,"disp":false,"width":"12","collapse":false},{"id":"a1c78aff.a701e","type":"ui_group","z":"","name":"ĐỘ ẨM KHÔNG KHÍ NGÀY","tab":"28c58673.cb260a","order":5,"disp":false,"width":"12","collapse":false},{"id":"d1280968.16ace","type":"ui_group","z":"","name":"ĐỘ ẨM KHÔNG KHÍ GIỜ","tab":"28c58673.cb260a","order":4,"disp":false,"width":"12","collapse":false},{"id":"525c445b.3f49a4","type":"ui_group","z":"","name":"CƯỜNG ĐỘ ÁNH SÁNG GIỜ","tab":"28c58673.cb260a","order":7,"disp":false,"width":"12","collapse":false},{"id":"40bade30.7cab4","type":"ui_group","z":"","name":"CƯỜNG ĐỘ ÁNH SÁNG NGÀY","tab":"28c58673.cb260a","order":8,"disp":false,"width":"12","collapse":false},{"id":"c41db1ce.64cc88","type":"ui_group","z":"","name":"CƯỜNG ĐỘ ÁNH SÁNG TUẦN","tab":"28c58673.cb260a","order":9,"disp":false,"width":"12","collapse":false},{"id":"5d8a4c43.955a94","type":"ui_group","z":"","name":"ĐỒ THỊ NHIỆT ĐỘ NGÀY","tab":"28c58673.cb260a","order":11,"disp":false,"width":"12","collapse":false},{"id":"76d1d42e.1ab2dc","type":"ui_group","z":"","name":"ĐỒ THỊ NHIỆT ĐỘ TUẦN","tab":"28c58673.cb260a","order":12,"disp":false,"width":"12","collapse":false},{"id":"67ddda58.f05504","type":"ui_group","z":"","name":"Filters","tab":"","disp":true,"width":"24"},{"id":"d6a5281a.987328","type":"ui_group","z":"","name":"Solar 30 days","tab":"","order":1,"disp":false,"width":"4"},{"id":"94461933.538148","type":"ui_group","z":"","name":"Solar 7 days","tab":"","order":2,"disp":false,"width":"4"},{"id":"c87af8fc.afcdc8","type":"ui_group","z":"","name":"Solar target","tab":"","order":3,"disp":false,"width":"4"},{"id":"a02a17b7.ea3088","type":"sqlitedb","z":"","db":"/tmp/automatedgarden"},{"id":"4db174c3.66bacc","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"d7b05f6f.88bc48","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"2a6cd43c.4d1aa4","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"a38c619c.6a4d6","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b5d11474.b83a58","type":"mqtt-broker","z":"","name":"","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c06dc77e.9f011","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":false,"width":"24"},{"id":"3ab46026.e74998","type":"ui_group","z":"","name":"Filters","tab":"","disp":true,"width":"24"},{"id":"3c0c56e6.016812","type":"ui_group","z":"","name":"Solar 30 days","tab":"","order":1,"disp":false,"width":"4"},{"id":"f24dc1b0.0fe0e8","type":"ui_group","z":"","name":"Solar 7 days","tab":"","order":2,"disp":false,"width":"4"},{"id":"27c5093b.d0bab6","type":"ui_group","z":"","name":"Solar target","tab":"","order":3,"disp":false,"width":"4"},{"id":"f8da545e.70a308","type":"ui_group","z":"","name":"Thermostat demo","tab":"","order":2,"disp":true,"width":"6"},{"id":"d036f064.eb0648","type":"ui_group","z":"","name":"1-line 24h on/off chart","tab":"","disp":true,"width":"6","collapse":false},{"id":"8ed0f120.699f08","type":"ui_group","z":"","name":"Gauge","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"f61208b2.8735d","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"6f287b11.ee360c","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"e3d99c44.75c9a8","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"db52c556.21c0a8","type":"ui_group","z":"","name":"Keypad","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"482ce30.784fc1c","type":"ui_group","z":"","name":"Start Time","tab":"","order":1,"disp":true,"width":"6"},{"id":"a4e428fc.8840c8","type":"ui_group","z":"","name":"Preset Start Times","tab":"","order":2,"disp":true,"width":"6"},{"id":"8b30be73.2001f","type":"ui_group","z":"","name":"Zone Status","tab":"","order":3,"disp":true,"width":"6"},{"id":"64fcad87.27a6ec","type":"ui_group","z":"","name":"Manual","tab":"","order":4,"disp":true,"width":"6"},{"id":"5be3f534.e9d544","type":"ui_group","z":"","name":"Analogue","tab":"","disp":true,"width":"16","collapse":false},{"id":"4c68c631.2d6da8","type":"ui_group","z":"","name":"Uptime","tab":"b81e0302.f756a","order":3,"disp":true,"width":"6"},{"id":"eece6e83.09e4d","type":"ui_group","z":"","name":"Bộ xử lý hẹn giờ 2","tab":"f3b535a2.f46be","order":2,"disp":false,"width":"6","collapse":false},{"id":"3a3b0cb6.b56684","type":"ui_group","z":"","name":"Trạng thái và điều khiển Relay","tab":"f3b535a2.f46be","order":6,"disp":false,"width":"6","collapse":false},{"id":"4c090e51.e72d1","type":"ui_group","z":"","name":"ĐẶT TÊN CHO RELAY","tab":"50cc18ad.213548","order":2,"disp":true,"width":"6","collapse":false},{"id":"2be3ee46.15e202","type":"ui_group","z":"","name":"Bộ xử lý hẹn giờ 3","tab":"f3b535a2.f46be","order":3,"disp":false,"width":"6","collapse":false},{"id":"dbde26a3.85371","type":"ui_group","z":"","name":"Bộ xử ký hẹn giờ 4","tab":"f3b535a2.f46be","order":4,"disp":false,"width":"6","collapse":false},{"id":"b81e0302.f756a","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":2},{"id":"16615b4f.a09275","type":"ui_tab","z":"","name":"HOẠT ĐỘNG THEO CẢM BIẾN","icon":"dashboard","order":5},{"id":"e2192c99.004f3","type":"ui_group","z":"","name":"Group 1","tab":"16615b4f.a09275","order":1,"disp":false,"width":"6","collapse":false},{"id":"e959e19.6b90da","type":"ui_group","z":"","name":"Group 2","tab":"16615b4f.a09275","order":2,"disp":false,"width":"6","collapse":false},{"id":"dd12adea.c8ceb","type":"ui_group","z":"","name":"Group 3","tab":"16615b4f.a09275","order":3,"disp":false,"width":"6","collapse":false},{"id":"bf503f45.e24b9","type":"mqtt in","z":"1359264.c0b7d5a","name":"","topic":"anhsang_p","qos":"2","broker":"25dc5485.8716ac","x":130,"y":600,"wires":[["8faa1be2.c19ed","4482b1e9.e94a38","8ab83cf5.71a478","c534086.314f878"]]},{"id":"48d020be.bfa378","type":"mqtt in","z":"1359264.c0b7d5a","name":"","topic":"doam_p","qos":"2","broker":"25dc5485.8716ac","x":120,"y":320,"wires":[["1e0747c2.21315"]]},{"id":"ee9bd628.a1bc78","type":"mqtt in","z":"1359264.c0b7d5a","name":"","topic":"nhietdo_p","qos":"2","broker":"25dc5485.8716ac","x":120,"y":880,"wires":[["9a1306c2.752dd8","7cd28b6c.34143c","6b07573e.57ec1","8927eb75.daba7"]]},{"id":"82378eed.636c08","type":"mqtt in","z":"1359264.c0b7d5a","name":"","topic":"doamkhongkhi_P","qos":"2","broker":"25dc5485.8716ac","x":140,"y":500,"wires":[["e6b7584e.8407f8"]]},{"id":"841c9cf7.5a40e8","type":"ui_gauge","z":"1359264.c0b7d5a","name":"","group":"826bcb90.726cf8","order":1,"width":"6","height":"5","gtype":"wave","title":"Độ ẩm đất","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"9a1306c2.752dd8","type":"ui_gauge","z":"1359264.c0b7d5a","name":"","group":"b2bd8f0a.65b77","order":1,"width":"6","height":"5","gtype":"donut","title":"Nhiệt độ","label":"độ C","format":"{{value}}","min":"-40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"40","x":600,"y":860,"wires":[]},{"id":"8faa1be2.c19ed","type":"ui_gauge","z":"1359264.c0b7d5a","name":"","group":"b2bd8f0a.65b77","order":2,"width":"6","height":"5","gtype":"gage","title":"Cường độ ánh sáng","label":"lux","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2500","seg2":"5000","x":600,"y":660,"wires":[]},{"id":"927aa845.e7e12","type":"ui_gauge","z":"1359264.c0b7d5a","name":"","group":"826bcb90.726cf8","order":2,"width":"6","height":"5","gtype":"wave","title":"Độ ẩm không khí","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":480,"wires":[]},{"id":"af67051d.831808","type":"mqtt out","z":"1359264.c0b7d5a","name":"","topic":"relay_s","qos":"2","retain":"true","broker":"25dc5485.8716ac","x":780,"y":80,"wires":[]},{"id":"62ac1300.241094","type":"function","z":"444c9e8d.056308","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\tbreak;\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":471,"y":150,"wires":[[],["b7341d13.4df0a"]]},{"id":"b7341d13.4df0a","type":"delay","z":"444c9e8d.056308","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480.9999771118164,"y":284.14285469055176,"wires":[["62ac1300.241094"]]},{"id":"d2131ef9.f8abb","type":"debug","z":"444c9e8d.056308","name":"","active":true,"console":"false","complete":"false","x":659.9999771118164,"y":152.14285469055176,"wires":[]},{"id":"91b1e7a5.6ed1b","type":"inject","z":"444c9e8d.056308","name":"start loop 2","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":248.9999771118164,"y":122.14285469055176,"wires":[["62ac1300.241094"]]},{"id":"29e4bd68.582842","type":"inject","z":"444c9e8d.056308","name":"stop loop 2","topic":"loop2","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":250.9999771118164,"y":198.14285469055176,"wires":[["62ac1300.241094"]]},{"id":"a8f2c543.34c0e8","type":"function","z":"90cda2bf.b18618","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\tbreak;\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":408.33331298828125,"y":156.66665649414062,"wires":[[],["302a412f.c7de4e"]]},{"id":"302a412f.c7de4e","type":"delay","z":"90cda2bf.b18618","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":418.33329010009766,"y":290.8095111846924,"wires":[["a8f2c543.34c0e8"]]},{"id":"e6d44e1f.949c8","type":"debug","z":"90cda2bf.b18618","name":"","active":true,"console":"false","complete":"false","x":597.3332901000977,"y":158.80951118469238,"wires":[]},{"id":"4c089526.597bc4","type":"inject","z":"90cda2bf.b18618","name":"start loop 2","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.33329010009766,"y":128.80951118469238,"wires":[["a8f2c543.34c0e8"]]},{"id":"328974fb.9c226c","type":"inject","z":"90cda2bf.b18618","name":"stop loop 2","topic":"loop2","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":188.33329010009766,"y":204.80951118469238,"wires":[["a8f2c543.34c0e8"]]},{"id":"55fd1e59.be95a","type":"function","z":"9c73e65c.8c8a98","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\tbreak;\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":417.0000228881836,"y":168.85714530944824,"wires":[[],["98b49ac9.da6e98"]]},{"id":"98b49ac9.da6e98","type":"delay","z":"9c73e65c.8c8a98","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":417,"y":303,"wires":[["55fd1e59.be95a"]]},{"id":"45655120.97d4b8","type":"debug","z":"9c73e65c.8c8a98","name":"","active":true,"console":"false","complete":"false","x":606,"y":171,"wires":[]},{"id":"1006e128.9fa957","type":"inject","z":"9c73e65c.8c8a98","name":"start loop 2","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":195,"y":141,"wires":[["55fd1e59.be95a"]]},{"id":"5cbc209c.1cc55","type":"inject","z":"9c73e65c.8c8a98","name":"stop loop 2","topic":"loop2","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":197,"y":217,"wires":[["55fd1e59.be95a"]]},{"id":"239367e.c56ae18","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"3ebc2698.3ef9c2","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 GIỜ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":340,"wires":[[],[]]},{"id":"2ca88548.402c0a","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"d1280968.16ace","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM KHÔNG KHÍ TRONG 1 GIỜ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":520,"wires":[[],[]]},{"id":"4482b1e9.e94a38","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"525c445b.3f49a4","order":4,"width":"12","height":"6","label":"ĐỒ THỊ CƯỜNG ĐỘ ÁNH SÁNG TRONG 1 GIỜ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":700,"wires":[[],[]]},{"id":"7cd28b6c.34143c","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"6cd192c.1f8606c","order":4,"width":"12","height":"6","label":"ĐỒ THỊ NHIỆT ĐỘ TRONG 1 GIỜ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":900,"wires":[[],[]]},{"id":"23e485c5.2e3872","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":3,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":80,"wires":[]},{"id":"306377bf.5478c","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":12,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":200,"wires":[]},{"id":"a7144463.34291","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":9,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":160,"wires":[]},{"id":"8254b9ca.4a86e","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":6,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":120,"wires":[]},{"id":"67d8ebc3.68612c","type":"function","z":"1359264.c0b7d5a","name":"Trạng Thái Relay1","func":"m = msg.payload;\nif (m == '0')\n{\n    return {payload: \"Đang bật\"};\n}\nelse if (m == '1')\n{\n    return {payload: \"Đã tắt\"};\n}","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["23e485c5.2e3872"]]},{"id":"db351e45.9ecd1","type":"function","z":"1359264.c0b7d5a","name":"Trạng Thái Relay 2","func":"m = msg.payload;\nif (m == '3')\n{\n    return {payload: \"Đang bật\"};\n}\nelse if (m == '2')\n{\n    return {payload: \"Đã tắt\"};\n}","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["8254b9ca.4a86e"]]},{"id":"9463d9ca.635718","type":"function","z":"1359264.c0b7d5a","name":"Trạng Thái Relay 4","func":"m = msg.payload;\nif (m == '7')\n{\n    return {payload: \"Đang bật\"};\n}\nelse if (m == '6')\n{\n    return {payload: \"Đã tắt\"};\n}","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["306377bf.5478c"]]},{"id":"9d33d924.038848","type":"function","z":"1359264.c0b7d5a","name":"Trạng Thái Relay 3","func":"m = msg.payload;\nif (m == '5')\n{\n    return {payload: \"Đang bật\"};\n}\nelse if (m == '4')\n{\n    return {payload: \"Đã tắt\"};\n}","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["a7144463.34291"]]},{"id":"3a11324.5a5694e","type":"ui_switch","z":"1359264.c0b7d5a","name":"Relay 4","label":"","group":"76184d7.10dcb34","order":11,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"6","offvalueType":"num","officon":"","offcolor":"","x":160,"y":180,"wires":[["9463d9ca.635718","af67051d.831808"]]},{"id":"13160714.389df1","type":"ui_switch","z":"1359264.c0b7d5a","name":"Relay 1","label":"","group":"76184d7.10dcb34","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":160,"y":60,"wires":[["67d8ebc3.68612c","af67051d.831808"]]},{"id":"e4101bf.cec50e8","type":"ui_switch","z":"1359264.c0b7d5a","name":"Relay 2","label":"","group":"76184d7.10dcb34","order":5,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","x":160,"y":100,"wires":[["db351e45.9ecd1","af67051d.831808"]]},{"id":"a012729b.37c69","type":"ui_switch","z":"1359264.c0b7d5a","name":"Relay 3","label":"","group":"76184d7.10dcb34","order":8,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"num","onicon":"","oncolor":"","offvalue":"4","offvalueType":"num","officon":"","offcolor":"","x":160,"y":140,"wires":[["9d33d924.038848","af67051d.831808"]]},{"id":"f6f85af5.bab64","type":"ui_template","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","name":"Clock Toolbar","order":13,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":1020,"y":20,"wires":[[]]},{"id":"306243bc.fcb8ec","type":"ui_button","z":"1359264.c0b7d5a","name":"","group":"76184d7.10dcb34","order":14,"width":0,"height":0,"passthru":false,"label":"ĐẶT TÊN CHO RELAY","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"GIAO_DIỆN_CHÍNH_ĐIỀU_KHIỂN_NHANH_VÀ_TRẠNG_THÁI\"],\"show\":[\"GIAO_DIỆN_CHÍNH_ĐẶT_TÊN_CHO_RELAY\"]}}","payloadType":"json","topic":"","x":350,"y":1220,"wires":[["6b05cf.523e2a3"]]},{"id":"6b05cf.523e2a3","type":"ui_ui_control","z":"1359264.c0b7d5a","name":"","x":600,"y":1220,"wires":[[]]},{"id":"1abd2185.abf926","type":"ui_button","z":"1359264.c0b7d5a","name":"","group":"4c090e51.e72d1","order":3,"width":"3","height":"1","passthru":false,"label":"TRỞ VỀ","color":"","bgcolor":"","icon":"","payload":"Bạn có muốn thay đổi không?","payloadType":"str","topic":"","x":1140,"y":1120,"wires":[["f52bd2b0.e264c"]]},{"id":"f52bd2b0.e264c","type":"ui_toast","z":"1359264.c0b7d5a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"Thông báo","x":1170,"y":1200,"wires":[["eb758ea6.519b98"]]},{"id":"17631e7.fa404e2","type":"ui_button","z":"1359264.c0b7d5a","name":"","group":"4c090e51.e72d1","order":2,"width":"3","height":"1","passthru":false,"label":"MẶC ĐỊNH","color":"","bgcolor":" #777777","icon":"","payload":"{\"group\":{\"hide\":[\"GIAO_DIỆN_CHÍNH_ĐẶT_TÊN_CHO_RELAY\"],\"show\":[\"GIAO_DIỆN_CHÍNH_ĐIỀU_KHIỂN_NHANH_VÀ_TRẠNG_THÁI\"]}}","payloadType":"json","topic":"","x":150,"y":1600,"wires":[["cec4c7d1.39d8b","181faabd.70cf8d","a68ce3f7.9c1078","ee06594e.bcbfa","6b05cf.523e2a3"]]},{"id":"cec4c7d1.39d8b","type":"change","z":"1359264.c0b7d5a","name":"Chuyển tên về mặc định","rules":[{"t":"set","p":"payload","pt":"msg","to":"Relay 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1540,"wires":[["bb7a14f4.f977b","bc5c5360.43ec5","ff308473.1f1c"]]},{"id":"181faabd.70cf8d","type":"change","z":"1359264.c0b7d5a","name":"Chuyển tên về mặc định","rules":[{"t":"set","p":"payload","pt":"msg","to":"Relay 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1580,"wires":[["1f3039d9.c6147e","26f950de.87aa58","332b8013.4122"]]},{"id":"a68ce3f7.9c1078","type":"change","z":"1359264.c0b7d5a","name":"Chuyển tên về mặc định","rules":[{"t":"set","p":"payload","pt":"msg","to":"Relay 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1620,"wires":[["a5721d49.e41028","1c30e523.89c45b","91b88f6a.3f6be8"]]},{"id":"ee06594e.bcbfa","type":"change","z":"1359264.c0b7d5a","name":"Chuyển tên về mặc định","rules":[{"t":"set","p":"payload","pt":"msg","to":"Relay 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1660,"wires":[["2ac37328.aa664c","6b01e63a.38ffa","4fcf3ec5.ab52e8"]]},{"id":"d615e99e.068c08","type":"ui_form","z":"1359264.c0b7d5a","name":"","label":"","group":"4c090e51.e72d1","order":1,"width":0,"height":0,"options":[{"label":"Relay 1","value":"name","type":"text","required":false},{"label":"Relay 2","value":"name1","type":"text","required":false},{"label":"Relay 3","value":"name2","type":"text","required":false},{"label":"Relay 4","value":"name3","type":"text","required":false}],"formValue":{"name":"","name1":"","name2":"","name3":""},"payload":"","submit":"CHẤP NHẬN","cancel":"HỦY BỎ","topic":"","x":130,"y":1360,"wires":[["31d86491.1fa6cc","11e3a226.1ee3f6","daa1c0ec.ea19a8","b58c33e3.079b18"]]},{"id":"31d86491.1fa6cc","type":"function","z":"1359264.c0b7d5a","name":"Hàm đặt tên Relay 1","func":"//Read username and password\nvar msg = {payload: (msg.payload.name)};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1360,"wires":[["bb7a14f4.f977b","bc5c5360.43ec5","ff308473.1f1c"]]},{"id":"bb7a14f4.f977b","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":1,"width":"2","height":"1","name":"Tên Relay 1","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1360,"wires":[]},{"id":"1f3039d9.c6147e","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":4,"width":"2","height":"1","name":"Tên Relay 2","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1400,"wires":[]},{"id":"a5721d49.e41028","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":7,"width":"2","height":"1","name":"Tên Relay 3","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1440,"wires":[]},{"id":"2ac37328.aa664c","type":"ui_text","z":"1359264.c0b7d5a","group":"76184d7.10dcb34","order":10,"width":"2","height":"1","name":"Tên Relay 4","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1480,"wires":[]},{"id":"11e3a226.1ee3f6","type":"function","z":"1359264.c0b7d5a","name":"Hàm đặt tên Relay 2","func":"//Read username and password\nvar msg = {payload: (msg.payload.name1)};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1400,"wires":[["1f3039d9.c6147e","26f950de.87aa58","332b8013.4122"]]},{"id":"daa1c0ec.ea19a8","type":"function","z":"1359264.c0b7d5a","name":"Hàm đặt tên Relay 3","func":"//Read username and password\nvar msg = {payload: (msg.payload.name2)};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1440,"wires":[["a5721d49.e41028","1c30e523.89c45b","91b88f6a.3f6be8"]]},{"id":"b58c33e3.079b18","type":"function","z":"1359264.c0b7d5a","name":"Hàm đặt tên Relay 4","func":"//Read username and password\nvar msg = {payload: (msg.payload.name3)};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1480,"wires":[["2ac37328.aa664c","6b01e63a.38ffa","4fcf3ec5.ab52e8"]]},{"id":"1e0747c2.21315","type":"smooth","z":"1359264.c0b7d5a","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":320,"y":320,"wires":[["841c9cf7.5a40e8","239367e.c56ae18","902a71ec.ed8b38","8010fb91.33a4e8"]]},{"id":"e6b7584e.8407f8","type":"smooth","z":"1359264.c0b7d5a","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":330,"y":500,"wires":[["927aa845.e7e12","2ca88548.402c0a","f41ea48c.f0b12","d3afa0a9.d0b42"]]},{"id":"6b7f3858.259c68","type":"change","z":"1359264.c0b7d5a","name":"Chuyển điều kiện","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"GIAO_DIỆN_CHÍNH_ĐẶT_TÊN_CHO_RELAY\"],\"show\":[\"GIAO_DIỆN_CHÍNH_ĐIỀU_KHIỂN_NHANH_VÀ_TRẠNG_THÁI\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1340,"wires":[["6b05cf.523e2a3"]]},{"id":"eb758ea6.519b98","type":"switch","z":"1359264.c0b7d5a","name":"Điều kiện thay đổi ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1260,"wires":[["6b7f3858.259c68"],[]]},{"id":"902a71ec.ed8b38","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"a312f85c.b90c98","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 NGÀY","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":380,"wires":[[],[]]},{"id":"8010fb91.33a4e8","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"ed519627.c72218","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM ĐẤT THAY ĐỔI TRONG 1 TUẦN","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":420,"wires":[[],[]]},{"id":"edf7c06f.b2e508","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 2","group":"a312f85c.b90c98","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\"]}}","payloadType":"json","topic":"","x":1180,"y":340,"wires":[["f0c527ea.bf97e8"]]},{"id":"f0e2b06e.340068","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 2","group":"a312f85c.b90c98","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"]}}","payloadType":"json","topic":"","x":1170,"y":300,"wires":[["f0c527ea.bf97e8"]]},{"id":"adf50f23.8a1f28","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 2","group":"a312f85c.b90c98","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"]}}","payloadType":"json","topic":"","x":1180,"y":380,"wires":[["f0c527ea.bf97e8"]]},{"id":"f0c527ea.bf97e8","type":"ui_ui_control","z":"1359264.c0b7d5a","name":"ĐỘ ẨM ĐẤT","x":1330,"y":460,"wires":[[]]},{"id":"9dac6b4d.909b2","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 1","group":"3ebc2698.3ef9c2","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\"]}}","payloadType":"json","topic":"","x":1020,"y":340,"wires":[["f0c527ea.bf97e8"]]},{"id":"846ddd82.52277","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 1","group":"3ebc2698.3ef9c2","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"]}}","payloadType":"json","topic":"","x":1010,"y":300,"wires":[["f0c527ea.bf97e8"]]},{"id":"2deeaac0.059f0e","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 1","group":"3ebc2698.3ef9c2","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"]}}","payloadType":"json","topic":"","x":1020,"y":380,"wires":[["f0c527ea.bf97e8"]]},{"id":"65b6fd7a.c8b02c","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 3","group":"ed519627.c72218","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\"]}}","payloadType":"json","topic":"","x":1360,"y":340,"wires":[["f0c527ea.bf97e8"]]},{"id":"14a2e57c.f99063","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 3","group":"ed519627.c72218","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"]}}","payloadType":"json","topic":"","x":1350,"y":300,"wires":[["f0c527ea.bf97e8"]]},{"id":"eafe8baf.e306c","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 3","group":"ed519627.c72218","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_ĐỘ_ẨM_ĐẤT_THAY_ĐỔI_TRONG_1_TUẦN\"]}}","payloadType":"json","topic":"","x":1360,"y":380,"wires":[["f0c527ea.bf97e8"]]},{"id":"f41ea48c.f0b12","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"a1c78aff.a701e","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM KHÔNG KHÍ TRONG 1 NGÀY","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":560,"wires":[[],[]]},{"id":"d3afa0a9.d0b42","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"ca133c17.8ed098","order":4,"width":"12","height":"6","label":"ĐỒ THỊ ĐỘ ẨM KHÔNG KHÍ TRONG 1 TUẦN","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":600,"wires":[[],[]]},{"id":"a3a12a52.a1f8e8","type":"ui_ui_control","z":"1359264.c0b7d5a","name":"ĐỘ ẨM KHÔNG KHÍ","x":1360,"y":680,"wires":[[]]},{"id":"9a174a8.15b3db8","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 1","group":"d1280968.16ace","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\"]}}","payloadType":"json","topic":"","x":1020,"y":560,"wires":[["a3a12a52.a1f8e8"]]},{"id":"4ee643bf.3f0594","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 1","group":"d1280968.16ace","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"]}}","payloadType":"json","topic":"","x":1020,"y":600,"wires":[["a3a12a52.a1f8e8"]]},{"id":"7280f2cb.ddb344","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 1","group":"d1280968.16ace","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"]}}","payloadType":"json","topic":"","x":1010,"y":520,"wires":[["a3a12a52.a1f8e8"]]},{"id":"b8f48e52.50d8b","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 2","group":"a1c78aff.a701e","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\"]}}","payloadType":"json","topic":"","x":1180,"y":560,"wires":[["a3a12a52.a1f8e8"]]},{"id":"4aec847f.2c097c","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 2","group":"a1c78aff.a701e","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"]}}","payloadType":"json","topic":"","x":1180,"y":600,"wires":[["a3a12a52.a1f8e8"]]},{"id":"bd74c5fd.1eab7","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 2","group":"a1c78aff.a701e","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"]}}","payloadType":"json","topic":"","x":1170,"y":520,"wires":[["a3a12a52.a1f8e8"]]},{"id":"52e29928.fbf93","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 3","group":"ca133c17.8ed098","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\"]}}","payloadType":"json","topic":"","x":1360,"y":560,"wires":[["a3a12a52.a1f8e8"]]},{"id":"c0d656bb.435598","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 3","group":"ca133c17.8ed098","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"]}}","payloadType":"json","topic":"","x":1360,"y":600,"wires":[["a3a12a52.a1f8e8"]]},{"id":"d65f08e7.fbf748","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 3","group":"ca133c17.8ed098","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_NGÀY\",\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỘ_ẨM_KHÔNG_KHÍ_GIỜ\"]}}","payloadType":"json","topic":"","x":1350,"y":520,"wires":[["a3a12a52.a1f8e8"]]},{"id":"8ab83cf5.71a478","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"40bade30.7cab4","order":4,"width":"12","height":"6","label":"ĐỒ THỊ CƯỜNG ĐỘ ÁNH SÁNG TRONG 1 NGÀY","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":740,"wires":[[],[]]},{"id":"c534086.314f878","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"c41db1ce.64cc88","order":4,"width":"12","height":"6","label":"ĐỒ THỊ CƯỜNG ĐỘ ÁNH SÁNG TRONG 1 TUẦN","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":780,"wires":[[],[]]},{"id":"3d1cf663.961962","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 1","group":"525c445b.3f49a4","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\"]}}","payloadType":"json","topic":"","x":1020,"y":760,"wires":[["2db94232.a26a5e"]]},{"id":"9cd2816e.397ab8","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 1","group":"525c445b.3f49a4","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"]}}","payloadType":"json","topic":"","x":1020,"y":800,"wires":[["2db94232.a26a5e"]]},{"id":"ae7eaa57.372178","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 1","group":"525c445b.3f49a4","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"]}}","payloadType":"json","topic":"","x":1010,"y":720,"wires":[["2db94232.a26a5e"]]},{"id":"2db94232.a26a5e","type":"ui_ui_control","z":"1359264.c0b7d5a","name":"CƯỜNG ĐỘ ÁNH SÁNG","x":1370,"y":880,"wires":[[]]},{"id":"633fe33e.4bc234","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 2","group":"40bade30.7cab4","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\"]}}","payloadType":"json","topic":"","x":1180,"y":760,"wires":[["2db94232.a26a5e"]]},{"id":"b886943.73c31e8","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 2","group":"40bade30.7cab4","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"]}}","payloadType":"json","topic":"","x":1180,"y":800,"wires":[["2db94232.a26a5e"]]},{"id":"99aa3ad.f6e4248","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 2","group":"40bade30.7cab4","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"]}}","payloadType":"json","topic":"","x":1170,"y":720,"wires":[["2db94232.a26a5e"]]},{"id":"6027f442.9ca5dc","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 3","group":"c41db1ce.64cc88","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\"]}}","payloadType":"json","topic":"","x":1400,"y":760,"wires":[["2db94232.a26a5e"]]},{"id":"4590047f.6ef744","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 3","group":"c41db1ce.64cc88","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"]}}","payloadType":"json","topic":"","x":1400,"y":800,"wires":[["2db94232.a26a5e"]]},{"id":"46a98052.3454b8","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 3","group":"c41db1ce.64cc88","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_NGÀY\",\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_TUẦN\"],\"show\":[\"ĐỒ_THỊ_CƯỜNG_ĐỘ_ÁNH_SÁNG_GIỜ\"]}}","payloadType":"json","topic":"","x":1390,"y":720,"wires":[["2db94232.a26a5e"]]},{"id":"8927eb75.daba7","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"76d1d42e.1ab2dc","order":4,"width":"12","height":"6","label":"ĐỒ THỊ NHIỆT ĐỘ TRONG 1 TUẦN","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":980,"wires":[[],[]]},{"id":"6b07573e.57ec1","type":"ui_chart","z":"1359264.c0b7d5a","name":"","group":"5d8a4c43.955a94","order":4,"width":"12","height":"6","label":"ĐỒ THỊ NHIỆT ĐỘ TRONG 1 NGÀY","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":940,"wires":[[],[]]},{"id":"b469c4c6.d65b08","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 1","group":"6cd192c.1f8606c","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\"]}}","payloadType":"json","topic":"","x":1020,"y":980,"wires":[["38c0d141.f48396"]]},{"id":"156fd8b7.f61cf7","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 1","group":"6cd192c.1f8606c","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"]}}","payloadType":"json","topic":"","x":1020,"y":1020,"wires":[["38c0d141.f48396"]]},{"id":"c28f7a3f.9b5ac8","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 1","group":"6cd192c.1f8606c","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"]}}","payloadType":"json","topic":"","x":1010,"y":940,"wires":[["38c0d141.f48396"]]},{"id":"38c0d141.f48396","type":"ui_ui_control","z":"1359264.c0b7d5a","name":"NHIỆT ĐỘ","x":1320,"y":1080,"wires":[[]]},{"id":"60361370.58057c","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 2","group":"5d8a4c43.955a94","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"]}}","payloadType":"json","topic":"","x":1170,"y":940,"wires":[["38c0d141.f48396"]]},{"id":"c2e2493c.5518d8","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 2","group":"5d8a4c43.955a94","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\"]}}","payloadType":"json","topic":"","x":1180,"y":980,"wires":[["38c0d141.f48396"]]},{"id":"2bdd496b.148096","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 2","group":"5d8a4c43.955a94","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"]}}","payloadType":"json","topic":"","x":1180,"y":1020,"wires":[["38c0d141.f48396"]]},{"id":"836ae89c.72de7","type":"ui_button","z":"1359264.c0b7d5a","name":"GIỜ 3","group":"76d1d42e.1ab2dc","order":1,"width":"4","height":"1","passthru":false,"label":"GIỜ","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"]}}","payloadType":"json","topic":"","x":1410,"y":940,"wires":[["38c0d141.f48396"]]},{"id":"aa3dc0a7.21065","type":"ui_button","z":"1359264.c0b7d5a","name":"NGÀY 3","group":"76d1d42e.1ab2dc","order":2,"width":"4","height":"1","passthru":false,"label":"NGÀY","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\"]}}","payloadType":"json","topic":"","x":1420,"y":980,"wires":[["38c0d141.f48396"]]},{"id":"79499046.d1556","type":"ui_button","z":"1359264.c0b7d5a","name":"TUẦN 3","group":"76d1d42e.1ab2dc","order":3,"width":"4","height":"1","passthru":false,"label":"TUẦN","color":"","bgcolor":"#53868B","icon":"","payload":"{\"group\":{\"hide\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_NGÀY\",\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_GIỜ\"],\"show\":[\"ĐỒ_THỊ_ĐỒ_THỊ_NHIỆT_ĐỘ_TUẦN\"]}}","payloadType":"json","topic":"","x":1420,"y":1020,"wires":[["38c0d141.f48396"]]},{"id":"48306982.341bb","type":"ui_text","z":"1359264.c0b7d5a","group":"a480ae96.a7753","order":3,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian bắt đầu:","format":"{{msg.payload}}","layout":"","x":2470,"y":80,"wires":[]},{"id":"9e4468b3.639038","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourstart1\");\nvar minute = global.get(\"timeminutestart1\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"start1\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2180,"y":80,"wires":[["48306982.341bb"]]},{"id":"12ea0e90.b7eb21","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1810,"y":280,"wires":[["d0ec9f0b.0441a"]]},{"id":"d0ec9f0b.0441a","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable1\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays1\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":280,"wires":[["74136d43.9fb01c"]]},{"id":"74136d43.9fb01c","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start1","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2300,"y":280,"wires":[["fe9aef77.55eae8","a2365cd1.ef356"],[]]},{"id":"265a3aa5.2043b6","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":60,"wires":[["8502b91f.ff8d7"]]},{"id":"d4df775a.dcc97","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":100,"wires":[["7d149f88.4228d8"]]},{"id":"fe9aef77.55eae8","type":"change","z":"1359264.c0b7d5a","name":"Bật","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":320,"wires":[["cf866133.63332","62c81e69.aac908"]]},{"id":"d3cc2224.da94f","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"start1","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3020,"y":80,"wires":[[]]},{"id":"a2365cd1.ef356","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ bắt đầu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":260,"wires":[["b4802ee5.59481"]]},{"id":"8502b91f.ff8d7","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ bắt đầu","label":"Giờ","place":"Chọn giờ","group":"a480ae96.a7753","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourstart1","x":1990,"y":60,"wires":[["9e4468b3.639038"]]},{"id":"7d149f88.4228d8","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút kết thúc","label":"Phút","place":"Chọn phút","group":"a480ae96.a7753","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminutestart1","x":1990,"y":100,"wires":[["9e4468b3.639038"]]},{"id":"691cd582.31db44","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Cài đặt lặp lại","label":"Cài đặt lặp lại","place":"","group":"a480ae96.a7753","order":9,"width":0,"height":0,"passthru":false,"options":[{"label":"Mỗi ngày","value":1,"type":"num"},{"label":"Mỗi ngày thứ 2","value":"2","type":"str"},{"label":"Mỗi ngày thứ 3","value":"3","type":"str"},{"label":"Mỗi ngày thứ 4","value":"4","type":"str"}],"payload":"","topic":"irrdays1","x":1780,"y":220,"wires":[["293385d0.011dda"]]},{"id":"3a9815ce.963ab2","type":"function","z":"1359264.c0b7d5a","name":"Kiểm tra thời gian logic","func":"var today = new Date();\nif (global.get(\"irrenable1\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays1\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":200,"wires":[["7c5620e7.a9c438"]]},{"id":"7c5620e7.a9c438","type":"ui_template","z":"1359264.c0b7d5a","group":"a480ae96.a7753","name":"Bộ hẹn giờ","order":10,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Bộ hẹn giờ:</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Đang bật' : 'Đã tắt'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":2650,"y":200,"wires":[[]]},{"id":"4a477da6.b0fbf4","type":"ui_switch","z":"1359264.c0b7d5a","name":"Kích hoạt bộ hẹn giờ","label":"Kích hoạt hẹn giờ","group":"a480ae96.a7753","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"irrenable1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1800,"y":180,"wires":[["c13854eb.a424d8"]]},{"id":"c13854eb.a424d8","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":180,"wires":[["3a9815ce.963ab2"]]},{"id":"293385d0.011dda","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":220,"wires":[["3a9815ce.963ab2"]]},{"id":"bc5c5360.43ec5","type":"ui_text","z":"1359264.c0b7d5a","group":"a480ae96.a7753","order":1,"width":"0","height":"0","name":"CHẾ ĐỘ HẸN GIỜ RELAY 1","label":"{{msg.payload}}","format":"","layout":"col-center","x":880,"y":1060,"wires":[]},{"id":"b4802ee5.59481","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2750,"y":260,"wires":[]},{"id":"a72dc234.1dbd88","type":"ui_text","z":"1359264.c0b7d5a","group":"a480ae96.a7753","order":6,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian kết thúc:","format":"{{msg.payload}}","layout":"","x":2470,"y":380,"wires":[]},{"id":"70282321.ece9dc","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourend1\");\nvar minute = global.get(\"timeminuteend1\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"end1\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2180,"y":380,"wires":[["a72dc234.1dbd88"]]},{"id":"8eb887d6.488588","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":360,"wires":[["956c317c.4a99f"]]},{"id":"2ece8ef8.37a61a","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":400,"wires":[["e175e05d.d055e8"]]},{"id":"956c317c.4a99f","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ kết thúc","label":"Giờ","place":"Chọn giờ","group":"a480ae96.a7753","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourend1","x":1990,"y":360,"wires":[["70282321.ece9dc"]]},{"id":"e175e05d.d055e8","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút kết thúc","label":"Phút","place":"Chọn phút","group":"a480ae96.a7753","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminuteend1","x":1990,"y":400,"wires":[["70282321.ece9dc"]]},{"id":"8e057cf0.bc4fc","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"end1","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3030,"y":120,"wires":[[]]},{"id":"5cd47ade.37f3d4","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1810,"y":480,"wires":[["56446418.ab92bc"]]},{"id":"56446418.ab92bc","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable1\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays1\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":520,"wires":[["6cfe7eb9.279f48"]]},{"id":"6cfe7eb9.279f48","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"end1","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2280,"y":520,"wires":[["2db8a79.19072d8","3aae8200.7951d6"],[]]},{"id":"2db8a79.19072d8","type":"change","z":"1359264.c0b7d5a","name":"Tắt","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":460,"wires":[["cf866133.63332","62c81e69.aac908"]]},{"id":"3aae8200.7951d6","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ kết thúc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":520,"wires":[["7bf97f47.446ee"]]},{"id":"7bf97f47.446ee","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2730,"y":500,"wires":[]},{"id":"4100cb97.0ebe54","type":"ui_text","z":"1359264.c0b7d5a","group":"eece6e83.09e4d","order":3,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian bắt đầu:","format":"{{msg.payload}}","layout":"","x":2450,"y":720,"wires":[]},{"id":"aa80336b.cab018","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourstart2\");\nvar minute = global.get(\"timeminutestart2\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"start2\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":720,"wires":[["4100cb97.0ebe54"]]},{"id":"93201685.3c4a78","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1790,"y":920,"wires":[["303315a5.c86222"]]},{"id":"303315a5.c86222","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable2\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays2\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":920,"wires":[["39bb3146.d93f6e"]]},{"id":"39bb3146.d93f6e","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start2","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":920,"wires":[["7ed4d3dc.061e94","a0f4dbb.eeaeba8"],[]]},{"id":"25d23cb8.411064","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":700,"wires":[["fdb60f3c.a50b2"]]},{"id":"100fe0a.5157d1f","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":740,"wires":[["16035df1.1ce092"]]},{"id":"7ed4d3dc.061e94","type":"change","z":"1359264.c0b7d5a","name":"Bật","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":960,"wires":[["5f5415f4.512aa4","46713263.97be04"]]},{"id":"7bebb2de.282584","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"start2","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3000,"y":720,"wires":[[]]},{"id":"a0f4dbb.eeaeba8","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ bắt đầu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":900,"wires":[["2ce85068.75e568"]]},{"id":"fdb60f3c.a50b2","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ bắt đầu","label":"Giờ","place":"Chọn giờ","group":"eece6e83.09e4d","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourstart2","x":1970,"y":700,"wires":[["aa80336b.cab018"]]},{"id":"16035df1.1ce092","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút bắt đầu","label":"Phút","place":"Chọn phút","group":"eece6e83.09e4d","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminutestart2","x":1970,"y":740,"wires":[["aa80336b.cab018"]]},{"id":"792bddd9.ec3fac","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Cài đặt lặp lại","label":"Cài đặt lặp lại","place":"","group":"eece6e83.09e4d","order":9,"width":0,"height":0,"passthru":false,"options":[{"label":"Mỗi ngày","value":1,"type":"num"},{"label":"Mỗi ngày thứ 2","value":"2","type":"str"},{"label":"Mỗi ngày thứ 3","value":"3","type":"str"},{"label":"Mỗi ngày thứ 4","value":"4","type":"str"}],"payload":"","topic":"irrdays2","x":1760,"y":860,"wires":[["51f79cb2.fcc474"]]},{"id":"da8f92c8.c85598","type":"function","z":"1359264.c0b7d5a","name":"Kiểm tra thời gian logic","func":"var today = new Date();\nif (global.get(\"irrenable2\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays2\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":2390,"y":840,"wires":[["ef6315b.5456f68"]]},{"id":"ef6315b.5456f68","type":"ui_template","z":"1359264.c0b7d5a","group":"eece6e83.09e4d","name":"Bộ hẹn giờ","order":10,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Bộ hẹn giờ:</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Đang bật' : 'Đã tắt'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":2630,"y":840,"wires":[[]]},{"id":"f0ad6ed5.f1f5d8","type":"ui_switch","z":"1359264.c0b7d5a","name":"Kích hoạt bộ hẹn giờ","label":"Kích hoạt hẹn giờ","group":"eece6e83.09e4d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"irrenable2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":820,"wires":[["9596c323.cff928"]]},{"id":"9596c323.cff928","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":820,"wires":[["da8f92c8.c85598"]]},{"id":"51f79cb2.fcc474","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":860,"wires":[["da8f92c8.c85598"]]},{"id":"26f950de.87aa58","type":"ui_text","z":"1359264.c0b7d5a","group":"eece6e83.09e4d","order":1,"width":"0","height":"0","name":"CHẾ ĐỘ HẸN GIỜ RELAY 2","label":"{{msg.payload}}","format":"","layout":"col-center","x":880,"y":1100,"wires":[]},{"id":"2ce85068.75e568","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2730,"y":900,"wires":[]},{"id":"3c439922.b2b4e6","type":"ui_text","z":"1359264.c0b7d5a","group":"eece6e83.09e4d","order":6,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian kết thúc:","format":"{{msg.payload}}","layout":"","x":2450,"y":1020,"wires":[]},{"id":"e38b7122.d3617","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourend2\");\nvar minute = global.get(\"timeminuteend2\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"end2\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":1020,"wires":[["3c439922.b2b4e6"]]},{"id":"1250a20b.88744e","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":1000,"wires":[["a611e444.2b8888"]]},{"id":"be541bc4.04e1","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1040,"wires":[["cc11b9fc.9d3a4"]]},{"id":"a611e444.2b8888","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ kết thúc","label":"Giờ","place":"Chọn giờ","group":"eece6e83.09e4d","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourend2","x":1970,"y":1000,"wires":[["e38b7122.d3617"]]},{"id":"cc11b9fc.9d3a4","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút kết thúc","label":"Phút","place":"Chọn phút","group":"eece6e83.09e4d","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminuteend2","x":1970,"y":1040,"wires":[["e38b7122.d3617"]]},{"id":"7c1ab6c8.492498","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"end2","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3010,"y":760,"wires":[[]]},{"id":"afa968de.256eb","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1790,"y":1120,"wires":[["4eb7f4f5.78f85c"]]},{"id":"4eb7f4f5.78f85c","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable2\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays2\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":1160,"wires":[["efc2ef1.0ff791"]]},{"id":"efc2ef1.0ff791","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"end2","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2260,"y":1160,"wires":[["435aedba.8e919c","3d551970.a06946"],[]]},{"id":"435aedba.8e919c","type":"change","z":"1359264.c0b7d5a","name":"Tắt","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":1220,"wires":[["5f5415f4.512aa4","46713263.97be04"]]},{"id":"3d551970.a06946","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ kết thúc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1160,"wires":[["b5286c3a.fdf878"]]},{"id":"b5286c3a.fdf878","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2710,"y":1160,"wires":[]},{"id":"5f5415f4.512aa4","type":"ui_switch","z":"1359264.c0b7d5a","name":"","label":"","group":"3a3b0cb6.b56684","order":5,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2750,"y":1060,"wires":[["e4101bf.cec50e8"]]},{"id":"cf866133.63332","type":"ui_switch","z":"1359264.c0b7d5a","name":"","label":"","group":"3a3b0cb6.b56684","order":3,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2760,"y":380,"wires":[["13160714.389df1"]]},{"id":"78b5279a.421288","type":"ui_text","z":"1359264.c0b7d5a","group":"2be3ee46.15e202","order":3,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian bắt đầu:","format":"{{msg.payload}}","layout":"","x":2450,"y":1340,"wires":[]},{"id":"41232053.33184","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourstart3\");\nvar minute = global.get(\"timeminutestart3\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"start3\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":1340,"wires":[["78b5279a.421288"]]},{"id":"7d973315.d2973c","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1790,"y":1540,"wires":[["2609b6ea.d16362"]]},{"id":"2609b6ea.d16362","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable3\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays3\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":1540,"wires":[["1f6e845d.7c0844"]]},{"id":"1f6e845d.7c0844","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start3","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":1540,"wires":[["6a64120c.d35954","7a7d324e.23906c"],[]]},{"id":"870f3dc1.53e1f8","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1320,"wires":[["be38d556.50c998"]]},{"id":"174572d3.8c103d","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1360,"wires":[["9e8ecc65.ffd02"]]},{"id":"6a64120c.d35954","type":"change","z":"1359264.c0b7d5a","name":"Bật","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":1580,"wires":[["b81ead9a.4e40e8","18f4cc1f.8a1ea4"]]},{"id":"edc13da8.c4be88","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"start3","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3000,"y":1340,"wires":[[]]},{"id":"7a7d324e.23906c","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ bắt đầu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1520,"wires":[["fbf5079.31e0c78"]]},{"id":"be38d556.50c998","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ bắt đầu","label":"Giờ","place":"Chọn giờ","group":"2be3ee46.15e202","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourstart3","x":1970,"y":1320,"wires":[["41232053.33184"]]},{"id":"9e8ecc65.ffd02","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút bắt đầu","label":"Phút","place":"Chọn phút","group":"2be3ee46.15e202","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminutestart3","x":1970,"y":1360,"wires":[["41232053.33184"]]},{"id":"f8a049ff.4600e8","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Cài đặt lặp lại","label":"Cài đặt lặp lại","place":"","group":"2be3ee46.15e202","order":9,"width":0,"height":0,"passthru":false,"options":[{"label":"Mỗi ngày","value":1,"type":"num"},{"label":"Mỗi ngày thứ 2","value":"2","type":"str"},{"label":"Mỗi ngày thứ 3","value":"3","type":"str"},{"label":"Mỗi ngày thứ 4","value":"4","type":"str"}],"payload":"","topic":"irrdays3","x":1760,"y":1480,"wires":[["b04e64c3.d790e"]]},{"id":"270e4b74.400d64","type":"function","z":"1359264.c0b7d5a","name":"Kiểm tra thời gian logic","func":"var today = new Date();\nif (global.get(\"irrenable3\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays3\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":2390,"y":1460,"wires":[["2e91be93.3a2cca"]]},{"id":"2e91be93.3a2cca","type":"ui_template","z":"1359264.c0b7d5a","group":"2be3ee46.15e202","name":"Bộ hẹn giờ","order":10,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Bộ hẹn giờ:</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Đang bật' : 'Đã tắt'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":2630,"y":1460,"wires":[[]]},{"id":"ac367fd6.01c8f","type":"ui_switch","z":"1359264.c0b7d5a","name":"Kích hoạt bộ hẹn giờ","label":"Kích hoạt hẹn giờ","group":"2be3ee46.15e202","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"irrenable3","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1440,"wires":[["b4b22441.f06248"]]},{"id":"b4b22441.f06248","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":1440,"wires":[["270e4b74.400d64"]]},{"id":"b04e64c3.d790e","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":1480,"wires":[["270e4b74.400d64"]]},{"id":"1c30e523.89c45b","type":"ui_text","z":"1359264.c0b7d5a","group":"2be3ee46.15e202","order":1,"width":"0","height":"0","name":"CHẾ ĐỘ HẸN GIỜ RELAY 3","label":"{{msg.payload}}","format":"","layout":"col-center","x":880,"y":1140,"wires":[]},{"id":"fbf5079.31e0c78","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2730,"y":1520,"wires":[]},{"id":"6099ed52.359b3c","type":"ui_text","z":"1359264.c0b7d5a","group":"2be3ee46.15e202","order":6,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian kết thúc:","format":"{{msg.payload}}","layout":"","x":2450,"y":1640,"wires":[]},{"id":"169e8ce6.a53653","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourend3\");\nvar minute = global.get(\"timeminuteend3\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"end3\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":1640,"wires":[["6099ed52.359b3c"]]},{"id":"4fa7282e.f8c8a8","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":1620,"wires":[["35ed0b4e.82f364"]]},{"id":"add15669.f74688","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1660,"wires":[["c5b6f4a1.48861"]]},{"id":"35ed0b4e.82f364","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ kết thúc","label":"Giờ","place":"Chọn giờ","group":"2be3ee46.15e202","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourend3","x":1970,"y":1620,"wires":[["169e8ce6.a53653"]]},{"id":"c5b6f4a1.48861","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút kết thúc","label":"Phút","place":"Chọn phút","group":"2be3ee46.15e202","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminuteend3","x":1970,"y":1660,"wires":[["169e8ce6.a53653"]]},{"id":"372e28b5.efe208","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"end3","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":3010,"y":1380,"wires":[[]]},{"id":"9c69f8c7.94715","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1790,"y":1740,"wires":[["d086167a.4f60f"]]},{"id":"d086167a.4f60f","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable3\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays3\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":1780,"wires":[["4f044ada.5c314c"]]},{"id":"4f044ada.5c314c","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"end3","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2260,"y":1780,"wires":[["c3f52139.00c2a8","1882847.afc67fc"],[]]},{"id":"c3f52139.00c2a8","type":"change","z":"1359264.c0b7d5a","name":"Tắt","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":1840,"wires":[["b81ead9a.4e40e8","18f4cc1f.8a1ea4"]]},{"id":"1882847.afc67fc","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ kết thúc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1780,"wires":[["9ef3884c.c9658"]]},{"id":"9ef3884c.c9658","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2710,"y":1780,"wires":[]},{"id":"b81ead9a.4e40e8","type":"ui_switch","z":"1359264.c0b7d5a","name":"","label":"","group":"3a3b0cb6.b56684","order":7,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2730,"y":1700,"wires":[["a012729b.37c69"]]},{"id":"f352e663.e90d2","type":"ui_text","z":"1359264.c0b7d5a","group":"dbde26a3.85371","order":3,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian bắt đầu:","format":"{{msg.payload}}","layout":"","x":2430,"y":2040,"wires":[]},{"id":"636bc234.8cf024","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourstart4\");\nvar minute = global.get(\"timeminutestart4\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"start4\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":2040,"wires":[["f352e663.e90d2"]]},{"id":"6021a335.f2206c","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1770,"y":2240,"wires":[["e7ae0be7.7c8a5"]]},{"id":"e7ae0be7.7c8a5","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable4\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays3\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":2240,"wires":[["ec74498b.4ff428"]]},{"id":"ec74498b.4ff428","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start4","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2260,"y":2240,"wires":[["99b54aa1.6e2e28","3290c21a.0ce3c6"],[]]},{"id":"36fbe231.6c5ce6","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2020,"wires":[["24f5f037.a962d"]]},{"id":"f86f5c0a.6f86b8","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2060,"wires":[["dc878502.f6a87"]]},{"id":"99b54aa1.6e2e28","type":"change","z":"1359264.c0b7d5a","name":"Bật","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":2280,"wires":[["c5bd6c12.26fd7","599d21fb.f1aa"]]},{"id":"9c1d9b1b.250f18","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"start4","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":2980,"y":2040,"wires":[[]]},{"id":"3290c21a.0ce3c6","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ bắt đầu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":2220,"wires":[["998e5491.960c9"]]},{"id":"24f5f037.a962d","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ bắt đầu","label":"Giờ","place":"Chọn giờ","group":"dbde26a3.85371","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourstart4","x":1950,"y":2020,"wires":[["636bc234.8cf024"]]},{"id":"dc878502.f6a87","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút bắt đầu","label":"Phút","place":"Chọn phút","group":"dbde26a3.85371","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminutestart4","x":1950,"y":2060,"wires":[["636bc234.8cf024"]]},{"id":"d4f74884.7b2398","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Cài đặt lặp lại","label":"Cài đặt lặp lại","place":"","group":"dbde26a3.85371","order":9,"width":0,"height":0,"passthru":false,"options":[{"label":"Mỗi ngày","value":1,"type":"num"},{"label":"Mỗi ngày thứ 2","value":"2","type":"str"},{"label":"Mỗi ngày thứ 3","value":"3","type":"str"},{"label":"Mỗi ngày thứ 4","value":"4","type":"str"}],"payload":"","topic":"irrdays4","x":1740,"y":2180,"wires":[["aae99e39.160b"]]},{"id":"79e0124c.52ad9c","type":"function","z":"1359264.c0b7d5a","name":"Kiểm tra thời gian logic","func":"var today = new Date();\nif (global.get(\"irrenable4\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays4\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":2370,"y":2160,"wires":[["663902e1.d3ce84"]]},{"id":"663902e1.d3ce84","type":"ui_template","z":"1359264.c0b7d5a","group":"dbde26a3.85371","name":"Bộ hẹn giờ","order":10,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Bộ hẹn giờ:</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Đang bật' : 'Đã tắt'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":2610,"y":2160,"wires":[[]]},{"id":"2dd8703.5cd4b1","type":"ui_switch","z":"1359264.c0b7d5a","name":"Kích hoạt bộ hẹn giờ","label":"Kích hoạt hẹn giờ","group":"dbde26a3.85371","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"irrenable4","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1760,"y":2140,"wires":[["2be2a5db.ccfb7a"]]},{"id":"2be2a5db.ccfb7a","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":2140,"wires":[["79e0124c.52ad9c"]]},{"id":"aae99e39.160b","type":"function","z":"1359264.c0b7d5a","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":2180,"wires":[["79e0124c.52ad9c"]]},{"id":"6b01e63a.38ffa","type":"ui_text","z":"1359264.c0b7d5a","group":"dbde26a3.85371","order":1,"width":"0","height":"0","name":"CHẾ ĐỘ HẸN GIỜ RELAY 4","label":"{{msg.payload}}","format":"","layout":"col-center","x":880,"y":1180,"wires":[]},{"id":"998e5491.960c9","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2710,"y":2220,"wires":[]},{"id":"4b63ae6b.b14018","type":"ui_text","z":"1359264.c0b7d5a","group":"dbde26a3.85371","order":6,"width":"","height":"","name":"Thời gian hẹn giờ:","label":"Thời gian kết thúc:","format":"{{msg.payload}}","layout":"","x":2430,"y":2340,"wires":[]},{"id":"c98b41db.e9b37","type":"function","z":"1359264.c0b7d5a","name":"Hàm thời gian","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"timehourend4\");\nvar minute = global.get(\"timeminuteend4\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"end4\",mytime.getTime());\n}\nmsg.payload = hour + \":\" + minute;\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":2340,"wires":[["4b63ae6b.b14018"]]},{"id":"c9411342.cc49f8","type":"function","z":"1359264.c0b7d5a","name":"Now hour","func":"var mydate = new Date();\nmsg.payload = mydate.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":2320,"wires":[["7929752e.077fac"]]},{"id":"2321c000.5a98b","type":"function","z":"1359264.c0b7d5a","name":"Now minute","func":"var mydate = new Date();\nmydate.setTime(mydate.getTime() + 1*60000);\nmsg.payload = mydate.getMinutes();\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2360,"wires":[["551fbd8c.45c5fc"]]},{"id":"7929752e.077fac","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Giờ kết thúc","label":"Giờ","place":"Chọn giờ","group":"dbde26a3.85371","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"timehourend4","x":1950,"y":2320,"wires":[["c98b41db.e9b37"]]},{"id":"551fbd8c.45c5fc","type":"ui_dropdown","z":"1359264.c0b7d5a","name":"Phút kết thúc","label":"Phút","place":"Chọn phút","group":"dbde26a3.85371","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"timeminuteend4","x":1950,"y":2360,"wires":[["c98b41db.e9b37"]]},{"id":"525474cc.7b82d4","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"","payload":"end4","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":2990,"y":2080,"wires":[[]]},{"id":"34976768.07cb9","type":"inject","z":"1359264.c0b7d5a","name":"","topic":"TempCheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":1770,"y":2440,"wires":[["f8f3fb80.0ff078"]]},{"id":"f8f3fb80.0ff078","type":"function","z":"1359264.c0b7d5a","name":"Xóa ngày","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"irrenable4\")==1) {\n    msg.payload = (today.getDay() % global.get(\"irrdays4\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":2480,"wires":[["21ce5285.213e36"]]},{"id":"21ce5285.213e36","type":"switch","z":"1359264.c0b7d5a","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"end4","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2240,"y":2480,"wires":[["e8894ccc.093a48","86154200.09e4e"],[]]},{"id":"e8894ccc.093a48","type":"change","z":"1359264.c0b7d5a","name":"Tắt","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":2540,"wires":[["c5bd6c12.26fd7","599d21fb.f1aa"]]},{"id":"86154200.09e4e","type":"change","z":"1359264.c0b7d5a","name":"Toast message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Irrigation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Hẹn giờ kết thúc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":2480,"wires":[["4ca20bab.aaf6b4"]]},{"id":"4ca20bab.aaf6b4","type":"ui_toast","z":"1359264.c0b7d5a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2690,"y":2480,"wires":[]},{"id":"c5bd6c12.26fd7","type":"ui_switch","z":"1359264.c0b7d5a","name":"","label":"","group":"3a3b0cb6.b56684","order":9,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2750,"y":2380,"wires":[["3a11324.5a5694e"]]},{"id":"ff308473.1f1c","type":"ui_text","z":"1359264.c0b7d5a","group":"3a3b0cb6.b56684","order":2,"width":"2","height":"1","name":"Tên Relay 1","label":"{{msg.payload}}","format":"","layout":"row-spread","x":930,"y":1540,"wires":[]},{"id":"332b8013.4122","type":"ui_text","z":"1359264.c0b7d5a","group":"3a3b0cb6.b56684","order":4,"width":"2","height":"1","name":"Tên Relay 2","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1580,"wires":[]},{"id":"91b88f6a.3f6be8","type":"ui_text","z":"1359264.c0b7d5a","group":"3a3b0cb6.b56684","order":6,"width":"2","height":"1","name":"Tên Relay 3","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1620,"wires":[]},{"id":"4fcf3ec5.ab52e8","type":"ui_text","z":"1359264.c0b7d5a","group":"3a3b0cb6.b56684","order":8,"width":"2","height":"1","name":"Tên Relay 4","label":"{{msg.payload}}","format":"","layout":"row-left","x":930,"y":1660,"wires":[]},{"id":"6de4b33e.c71b24","type":"ui_text","z":"1359264.c0b7d5a","group":"3a3b0cb6.b56684","order":1,"width":"0","height":"0","name":"TRẠNG THÁI","label":"ĐIỀU KHIỂN NHANH VÀ TRẠNG THÁI RELAY","format":"","layout":"col-center","x":1150,"y":1520,"wires":[]},{"id":"62c81e69.aac908","type":"mqtt out","z":"1359264.c0b7d5a","name":"","topic":"relay_s","qos":"2","retain":"true","broker":"25dc5485.8716ac","x":3000,"y":380,"wires":[]},{"id":"46713263.97be04","type":"mqtt out","z":"1359264.c0b7d5a","name":"","topic":"relay_s","qos":"2","retain":"true","broker":"25dc5485.8716ac","x":3000,"y":1060,"wires":[]},{"id":"18f4cc1f.8a1ea4","type":"mqtt out","z":"1359264.c0b7d5a","name":"","topic":"relay_s","qos":"2","retain":"true","broker":"25dc5485.8716ac","x":2980,"y":1680,"wires":[]},{"id":"599d21fb.f1aa","type":"mqtt out","z":"1359264.c0b7d5a","name":"","topic":"relay_s","qos":"2","retain":"true","broker":"25dc5485.8716ac","x":3000,"y":2380,"wires":[]}]